@import partials/colors

body
  font-family: 'Helvetica', Arial, sans-serif
  a
    color: #000
    text-decoration: none
  p, blockquote
    font-size: 18px
  p
    line-height: 35px
  strong
    font-weight: bold

.agency
  h1
    color: white
    font:
      size: 65px
      weight: bold
    line-height: 94px
  p
    color: white
    line-height: 32px
    font-size: 16px

.our-work, .contact
  h1, h2
    font:
      family: 'Bebas Neue Regular', 'Helvetica', Arial, sans-serif
      size: 30px
  h2
    text-align: center
  p
    text-align: center
.contact
  p
    font-size: 25px
    line-height: 55px
  a
    font-weight: bold
